.player{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    box-sizing: border-box;
}
.flexrow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
}