tr:nth-child(odd){
    background-color: #9c6630;
}
tr:nth-child(even){
    background-color: #b58863;
}
tr:nth-child(odd)>td>button{
    background-color: #9c6630;
}
tr:nth-child(even)>td>button{
    background-color: #b58863;
}
tr{
    border: none;
    color: #f0d9b5;
    font-size: 100%;
}
table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
    height: 98%;
}
th{
    text-align: left;
    background-color: #3d3320!important;
}

button{
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0;
    text-align: center;
    color: #f0d9b5;
    font-size: 100%;
    cursor: pointer;
}

.search-row{
    box-sizing: border-box;
    display: flex;
    height: 10%!important;
}
.search-row input{
    width: 80%!important;
    font-size: 80%!important;
    border: 0!important;
    background-color: #b58863!important;
    color: #f0d9b5!important;
}

.search-row input::placeholder{
    color: #f0d9b5!important;
}
.search-row input:focus {
    outline: none;
}
.search-row button {
    width: 20%!important;
    font-size: 100%!important;
    border: 0!important;
    background-color: #b58863!important;
    color: #f0d9b5!important;
}

html{
    background-color: #3d3831!important;
    height: 100%!important;
    margin: 0!important;
}
body{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 98%!important;
}