tr:nth-child(odd)>td>button{
    background-color: #9c6630;
}
tr:nth-child(even)>td>button{
    background-color: #b58863;
}
button{
    width: 100%;
    height: auto;
    border: 0;
    padding: 0;
    text-align: center;
    color: #f0d9b5;
    font-size: 180%;
}
tr{
    border: none;
    margin: 0;
    padding: 0;
    height: 40px;
}
td{
    border: none;
    margin: 0;
    padding: 0;
    width: 40px;
}
table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
    height: auto;
}
thead{
    height: 40px;
}
th{
    height: 100%;
    text-align: left;
    background-color: #3d3320!important;
    color: #f0d9b5;
    font-size: 180%;
}

#returnToMenu {
    width: 100%!important;
    height: 15%!important;
    margin : 5px 0!important;
}
input{
    width: 100%!important;
    height: 100%!important;
    font-size: 180%!important;
    background-color: #b58863!important;
    color: #f0d9b5!important;
    border: 0!important;
}

html{
    background-color: #3d3831!important;
    height: 100%!important;
    margin: 0!important;
}
body{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 98%!important;
}

#watchGame,#playGameForm{
    display: none;
}
